/* styles.module.css */

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.friend-info {
  display: flex;
  align-items: center;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
}

.chat-input {
  display: flex;
  align-items: center;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.bg-blue-100 {
  background-color: #dbeafe; /* Color para los mensajes enviados */
}

.bg-gray-100 {
  background-color: #f3f4f6; /* Color para los mensajes recibidos */
}
